<div id="outer-container">
  <div id="inner-container">
    <video id="hero" preload="auto" autoplay="true" loop="loop">
      <source src="http://sfvideo.com/shutterstock_v1149793.mp4" type="video/mp4">
    </video>
    <h1 id="title">APARTMENTAL</h1>
    <h2>BECAUSE WE'RE CRAZY ABOUT APARTMENTS</h2>
        <div id='search'>
    </div>
    <form id='search-form' class="form-inline" name="search" action="/searches" method="post" style="inline">

        <input id="input-first" class="form-control" type="text" placeholder="Which city would you like to live?"></input>


        <input id="input-second" class="form-control" type="text" name="search[search_max_price]" placeholder="Price" class: "form-control" required></input>


        <!-- <label>Bedroom</label> -->

         <select name="search[search_bedroom]" class="form-control">
          <option value="Studio">Studio</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5+</option>
        </select>


        <!-- <label>Length of stay</label> -->

         <select name="search[search_period]" class="form-control">
          <option value="1">1 year</option>
          <option value="2">2 years</option>
          <option value="3">3 years</option>
          <option value="4">4 years</option>
          <option value="5">5+ years</option>
        </select>


        <input class='btn submit-btn' type="submit" value="Submit">

      </div>
      </form>

  </div>
</div>
<div>
</div>







<div style="display: none;">
<input type="text" name="search[search_min_price]" placeholder="min" class: "form-control" required></input>
<label>Address</label>
<input type="text" name="search[search_address]" placeholder="Where do you work?" class: "form-control"><br>

<label>Mode</label>
 <select name="search[search_mode]" class: "form-control">
  <option value="transit">Public transit</option>
  <option value="bike">Bike</option>
  <option value="drive">Drive</option>
  <option value="walk">Walk</option>
</select>

<label>Travel time</label>
<input type="text" name="search[search_min_time]" placeholder="min" class: "form-control" required></input><br>
<input type="text" name="search[search_max_time]" placeholder="max" class: "form-control" required></input><br>
</div>

