    <script>
    $(document).ready(function() {
      $("#panel1a").removeClass('active');
      $('label:eq(0)').css("color", "white")
      $('label:eq(1)').css("color", "white")
      $("#panel1a").css("background-color", "rgba(204, 204, 204, 0.4)")
    });
    </script>


    <div id='homepage-search' class="large-4 columns">
     <form id='search-formm' name="search" action="/searches" method="post">
      <div class="row">
        <div class="large-12 columns">
          <input type="text" placeholder="City" name="search[search_city]"/>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <select name="search[search_bedroom]" class="form-control">
            <option value="Studio">Studio</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5+</option>
          </select>
        </div>

        <div class="large-6 columns">
          <select name="search[search_period]" class="form-control">
            <option value="1">1 year</option>
            <option value="2">2 years</option>
            <option value="3">3 years</option>
            <option value="4">4 years</option>
            <option value="5">5+ years</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="large-3 columns">
          <label>Min Price</label>
          <div class="range-slider radius" data-slider data-options="start: 500; end: 9999;step: 100; display_selector: #min-price-slider;">
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden">
          </div>
        </div>

        <div class="large-3 columns" style="padding-top:2em">
          <div class="row collapse">
            <span id="sliderOutput3"></span>
            <div class="small-3 columns">
              <span class="postfix">$</span>
            </div>
            <div class="small-9 columns">
              <input class="min-price-js" type="number" name="search[search_min_price]"/>
            </div>
          </div>
        </div>

        <div class="large-3 columns">
          <label>Max Price</label>
          <div class="range-slider radius" data-slider data-options="start: 500; end: 9999;step: 100; display_selector: #max-price-slider;">
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden">
          </div>
        </div>


        <div class="large-3 columns" style="padding-top:2em">
          <div class="row collapse">
            <div class="small-3 columns">
              <span class="postfix">$</span>
            </div>
            <div class="small-9 columns">
              <input class="max-price-js" type="number" name="search[search_max_price]"/>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="large-12">
          <center><input class='button round' type="submit" value="Submit"></center>
        </div>
      </div>


      <ul class="accordion" data-accordion>
        <li class="accordion-navigation" >
          <a href="#panel1a">More Search Options</a>
          <div id="panel1a" class="content active">
            <div class="row">
              <div class="large-12 columns">
                <input id="input-first" name="search[search_address]" class="form-control" type="text" placeholder="Work Address"></input>
              </div>
            </div>

            <div class="row">
              <div class="large-8 columns">
                <select name="search[search_mode]" class: "form-control">
                  <option value="transit">Public transit</option>
                  <option value="bike">Bike</option>
                  <option value="drive">Drive</option>
                  <option value="walk">Walk</option>
                </select>

              </div>

             <div class="large-4 columns">
              <input type="text" name="search[search_max_time]" placeholder="max" value="20" class: "form-control" >
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <center><label>How much do you care about:</label></center>
            </div>
          </div>

          <div class="row">
            <div class="row">
              <label class="large-6 columns">Commute?:</label>
              <label class="large-6 columns">Price?:</label>
            </div>

            <div class="row">
              <div class="large-6 columns">
                <div class="range-slider radius" data-slider="3" data-options="start: 1; end: 5;step: 1;">
                  <span class="range-slider-handle" role="slider" tabindex="0"></span>
                  <span class="range-slider-active-segment"></span>
                  <input type="hidden" name="search[commute_weight]">
                </div>
              </div>

              <div class="large-6 columns">
                <div class="range-slider radius" data-slider="3" data-options="start: 1; end: 5;step: 1;">
                  <span class="range-slider-handle" role="slider" tabindex="0"></span>
                  <span class="range-slider-active-segment"></span>
                  <input type="hidden" name="search[price_weight]">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row">
              <label class="large-6 columns">Crime?:</label>
              <label class="large-6 columns">Walkscore?:</label>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <div class="range-slider radius" data-slider="3" data-options="start: 1; end: 5;step: 1;">
                  <span class="range-slider-handle" role="slider" tabindex="0"></span>
                  <span class="range-slider-active-segment"></span>
                  <input type="hidden" name="search[crime_weight]">
                </div>
              </div>

              <div class="large-6 columns">
                <div class="range-slider radius" data-slider="3" data-options="start: 1; end: 5;step: 1;">
                  <span class="range-slider-handle" role="slider" tabindex="0"></span>
                  <span class="range-slider-active-segment"></span>
                  <input type="hidden" name="search[walkscore_weight]">
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </form>

</div>

<div id='video-container'>
  <video id="hero" preload="auto" autoplay="true" loop="loop">
    <source src="https://05-lvl3-pdl.vimeocdn.com/01/2151/4/110755925/303525571.mp4?expires=1448529781&token=09d1e30964fb4c1072163" type="video/mp4">
    </video>
    <h1 id="title">APARTMENTAL</h1>
    <h2>BECAUSE WE'RE CRAZY ABOUT APARTMENTS</h2>
 </div>
